
/Q3D/Storage/AFsection1.dat

/Q3D/Storage/AFinput2.dat

/Q3D/Storage/AFinput3.dat

/Q3D/Storage/AFinput1.dat

/Q3D/Storage/AFsection8.dat

/Q3D/Storage/AFsection7.dat

/Q3D/Storage/AFsection6.dat

/Q3D/Storage/AFsection5.dat

/Q3D/Storage/AFsection4.dat

/Q3D/Storage/AFsection3.dat

/Q3D/Storage/AFsection2.dat

/Q3D/Storage/AVLaero.dat

/Q3D/Storage/AVLinput.avl

/Q3D/Storage/AVLrun.dat

/Q3D/Storage/AVLload.dat

/Q3D/Storage/XFOILinput.dat

/Q3D/Storage/Xfout.dat

/Q3D/Storage/AVLstrip.dat
