
/Q3D/Storage/AFsection1.dat

/Q3D/Storage/AFinput2.dat

/Q3D/Storage/AFinput3.dat

/Q3D/Storage/AFinput1.dat

/Q3D/Storage/AFsection8.dat

/Q3D/Storage/AFsection7.dat

/Q3D/Storage/AFsection6.dat

/Q3D/Storage/AFsection5.dat

/Q3D/Storage/AFsection4.dat

/Q3D/Storage/AFsection3.dat

/Q3D/Storage/AFsection2.dat

/Q3D/Storage/AVLaero.dat

/Q3D/Storage/AVLinput.avl

/Q3D/Storage/AVLrun.dat

/Q3D/Storage/AVLload.dat

/Q3D/Storage/XFOILinput.dat

/Q3D/Storage/Xfout.dat

/Q3D/Storage/AVLstrip.dat

/Q3D/Storage/ARUN.BRF

/Q3D/Storage/ARUN.IEH

/Q3D/Storage/ARUN.FUL

/Q3D/Storage/ARUN.NAM

/Q3D/Storage/ARUN.SEP

/Q3D/Storage/ARUN.SIR

/Q3D/Storage/ARUN.VEH

/Q3D/Storage/ARUN.VIN

/Q3D/Storage/Airfoil1.dat

/Q3D/Storage/VGKconR.dat

*.load

/EMWET/a330.init

/EMWET/a330.weight

/EMWET/current_airfoil.dat

/main.asv
